<div class="modal fade" id="tweetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="clearTweet()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">What's happening?</h4>
            </div>
            <form id="tweetForm" ng-submit="createTweet()">
                <div class="modal-body">
                    <textarea class="form-control" ng-trim="false" rows="3" id="tweet-content" r
                              ng-model="tweet.content" maxlength="140"></textarea>
                </div>
                <div class="modal-footer">
                    <div class="tweet-location">
                        <input type="text" class="form-control" placeholder="Location" id="tweet-location-input" ng-model="tweet.location">
                    </div>
                    <span>{{140-tweet.content.length}}</span>
                    <button type="submit" class="btn btn-primary" ng-disabled="!tweet.content.length" ngClick="Submit">Tweet</button>
                </div>
            </form>
        </div>
    </div>
</div>