<h1>Discover</h1>
<div class="container-left">
  <div class="discover-navigation">
    <ul>
      <li ng-class="{'active':discoverTweets}">
        <a href="/#/discover" ng-click="discoverTweetsSelected()">
          Tweets
          <span class="Icon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </li>
      <li>
        <a ng-class="{'active':discoverUsers}" ng-click="discoverUsersSelected()" href="/#/discover">
          Who to follow?
          <span class="Icon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="content-main col-md-6 col-md-offset-3">
  <div class="tweets-container" ng-show="discoverTweets">
    <div class="tweets">
      <ol>
        <li ng-repeat='tweetModel in tweets'>
          <div class="tweet">
            <div class="tweet-content">
              <div class="tweet-header">
                <a class="tweet-account-group">
                  <img class="tweet-account-avatar" src="{{tweetModel.author.avatarURL}}"/>
                  <strong class="full-name">{{tweetModel.author.name}}</strong>
                  <span class="username">@{{tweetModel.author.username}}</span>
                </a>
                <small class="time">
                  <span>{{tweetModel.created | date:'medium'}}</span>
                </small>
                <p class="tweet-text">{{tweetModel.content}}</p>
              </div>
            </div>
          </div>
        </li>
      </ol>
      <div class="tweets-footer">
        <a href="#/">
          <img class="footer-logo" src="/assets/images/reactivetwitter.png" alt = "reactive-twitter" />
        </a>
      </div>
    </div>
  </div>
  <div class="users-container" ng-show="discoverUsers">
      <div class="list-group">
          <div ng-repeat='suggestedUser in users' class="list-group-item">
              <div class="account">
                  <div class="follow-bar">
                      <div ng-if="suggestedUser.following == false" follow-button user="{{suggestedUser.userId}}"></div>
                      <div ng-if="suggestedUser.following" following="true" follow-button user="{{suggestedUser.userId}}"></div>
                  </div>
                  <a class="list-group-item-heading account-group" href="#">
                      <img class="tweet-account-avatar" src="/assets/images/silhouette.png"/>
                      <strong class="fullname">{{suggestedUser.name}}</strong><span class="username">@{{suggestedUser.username}}</span></a>
                  <p class="list-group-item-text bio">{{suggestedUser.biography}}</p>
              </div>
          </div>
      </div>
  </div>

</div>
