@(users: List[models.User], currentUser: User)

@main("Who to follow?", Some(currentUser)) {
    <div class="discover col-md-6 col-md-offset-3">
        <div class="list-group">
            @users.map{ user =>
                <div class="list-group-item">
                    <div class="account">
                        <a class="list-group-item-heading" href="#">
                        <img class="avatar-image-small" src="@user.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))"/>
                        <strong class="fullname">@user.name</strong><span class="username">@@@user.username</span></a>
                        <p class="list-group-item-text bio">@user.biography</p>
                        <div>
                            <button class="btn followButton" rel="6">Follow</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
